<mat-nav-list>
    <a mat-list-item routerLink="/film/list"  routerLinkActive="active" (click)="onSidenavClose()">
      <mat-icon>list</mat-icon> <span class="nav-caption"> lister les films</span>
    </a>
  </mat-nav-list>

