<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table *ngIf="page" mat-table [dataSource]="result" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Titre</th>
    <td mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.title}} </td>
  </ng-container>

  <!-- Note Column -->
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>Note</th>
    <td mat-cell *matCellDef="let element"> {{element.vote_average +'(' + element.vote_count +')'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

