
#potatoLogo {
  width: 70px;
  height:auto;
  vertical-align:middle;
    margin-left: auto;
    margin-right: auto;
  }


  .box {
    display: flex;
    align-items:center;
 }

 #login
 {
  width: 130px;
 }
#test
{
  width: 40px;
}
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  width: 100%;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
