<header class="fixed-top">
  <app-header id="head" (sidenavToggle)="sidenav.toggle()"></app-header>
</header>

<!--<main [class]="head.open?'close-aside':''">-->
<main >
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-nav (sidenavClose)="sidenav.close()"></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page">
        <div class="contents">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
